[submodule "Kafka"]
	path = Kafka
	url = https://github.com/ImGdevel/Kafka.git
[submodule "Elasticsearch"]
	path = Elasticsearch
	url = https://github.com/ImGdevel/Elasticsearch.git
[submodule "spring-webflux"]
	path = spring-webflux
	url = https://github.com/ImGdevel/spring-webflux.git
