[submodule "Kafka"]
	path = Kafka
	url = https://github.com/ImGdevel/Kafka.git
[submodule "Elasticsearch"]
	path = Elasticsearch
	url = https://github.com/ImGdevel/Elasticsearch.git
[submodule "Spring Webflux"]
	path = Spring Webflux
	url = https://github.com/ImGdevel/spring-webflux.git
